.homepage-bin {
  position: relative;
  height: 70vh;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.homepage-title {
  background-color: rgba(32, 13, 13, 0.6);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  font-size: 40px;
}

.homepage-marker {
  font-family: 'Permanent Marker', cursive;
  border-bottom: 1px solid white;
}

.homepage-subtitle {
  font-size: 24px;
}

.homepage-phrase {
  background-color: rgba(32, 13, 13, 0.6);
  border-radius: 25px;
  padding: 20px;
  position: absolute;
  right: 0%;
  top: 90%;
}
